<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Hex Game in Symfony{% endblock %}</title>

    <link href="{{ asset('css/normalize.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/index.css') }}" rel="stylesheet"/>

    {% block stylesheets %}
    {% endblock %}


</head>
<body>

{% block body %}
    <div class="page">

        {% if not game.hasEnoughPlayer() %}
        <div class="join_block">
            <form method="POST" action="/games/{{ game.id }}/join">
                <button class="main_button" type="submit" value="Join this game">Join</button>
            </form>
        </div>
        {% else %}
            <div class="player_block">
                {% if player == 'spectator' %}
                    <h3>You're {{ player }}</h3>
                {% else %}
                    <h3>You play as {{ player }}</h3>
                {% endif %}

            </div>
        {% endif %}

        <div class="content">

            <style>
                {% for x in range(0, game.size - 1) %}
                .line{{ x + 1 }} {
                    top: {{ 90 * x }}px;
                    left: {{ 50 * x }}px;
                }

                {% endfor %}
            </style>

            <form id="game" method="POST" action="/games/{{ game.id }}">
                {% for x in range(0, game.size - 1 ) %}
                    <div class="row line{{ x + 1 }}">
                        {% for y in range(0, game.size - 1) %}

                            {% set class = '' %}
                            {% if game.hasStone(x, y) %}
                                {% set class = game.getPlayerTypeByCoords(x,y) %}

                            {% endif %}

                            <button name="stone"
                                    type="submit"
                                    value="{{ x }},{{ y }}"
                                    class="hexagon {{ class }}"
                            >
                                &#x2B22;
                            </button>
                        {% endfor %}
                    </div>
                {% endfor %}
            </form>
        </div>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
