<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Hex Game in Symfony{% endblock %}</title>

    <link href="{{ asset('css/normalize.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/index.css') }}" rel="stylesheet"/>

    {% block stylesheets %}
    {% endblock %}

    <style>
        {% for i in range(0, size - 1) %}
        .line{{ i + 1 }} {
            top: {{ 90 * i }}px;
            left: {{ 50 * i }}px;
        }

        {% endfor %}
    </style>

</head>
<body>
{% block body %}
    <form id="board" method="POST" action="/">
        {% for i in range(0, size - 1 ) %}
            <div class="row line{{ i + 1 }}">
                {% for j in range(0, size - 1) %}
                    <button name="hex_{{ i }},{{ j }}" onclick='this.form.submit();' value="{{ i }},{{ j }}"
                            class="hexagon">
                        &#x2B22;
                    </button>
                {% endfor %}
            </div>
        {% endfor %}
    </form>
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
